* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body {
font-family: 'New Tegomin', serif;
background: url('https://source.unsplash.com/ZPfd3ZobOc0/1600x900') center
center/cover no-repeat fixed;
height: 100vh;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

main {
  background: rgba(248, 191, 117, 0.9);
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game h1 {
  font-size: 85px;
  margin-bottom: 3.5rem;
}

.game p {
  font-size: 26px;
  font-weight: 600;
}

button {
  background-color: white;
  border-radius: 5px;
  height: 50px;
  width: 110px;
  font-size: 16px;
  margin: 0 1rem 2.5rem 1rem;
  font-family: 'New Tegomin', serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: .4rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameoverbox {
  background-color: white;
  padding: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.gameoverbox button {
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  outline: none;
}

#gameover {
  font-size: 24px;
  color: #333;
  padding: 30px;
}
