@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body {
font-family: 'New Tegomin', serif;
background-color: cadetblue;
text-align: center;
}

button {
  height: 30px;
  width: 90px;
  font-size: 16px;
}
