
.circle {
    display: inline-block;
    border-style: none;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 0.9rem 0 0.9rem;
  }

.circles {
    display: flex;
    justify-content: center;
}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.active {
    background-image: url("../assets/active.png");
}
