@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(245, 197, 191);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 10vh;
  background-color: white;
  width: 27vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
}

header {
  padding-top: 2rem;
  text-align: center;
}

.circle {
  background-color: grey;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: skyblue;
}
.odd {
  background-color: lightgoldenrodyellow;
}

button {
  margin: 0.5rem;
  padding: .5 0 .5 0rem;
  width: 100px;
  border-radius: 5px;
}

footer {
  padding-top: 3rem;
}
